@import url('https://fonts.googleapis.com/css2?family=c&family=Rock+Salt&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}
#hero-img{
    width: 100%;
}
.button-box{
    text-align: center;
}

main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #e6fab7;
    margin-top: 100px;
    margin-bottom: 50px;
}
body{
    background-color: #e3e8ed;
    font-family: 'Playfair Display';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #489FB5;
}
nav a:hover{
    color: #489FB5;
    background-color: #114B56;
}
nav a{
    text-align: center;
    color: #EDE7E3;
    text-decoration: none;
    padding: 35px;
}
.home-title{
    color: #114B56;
    font-family: 'Rock Salt';
    font-size: 2em;
}
h4{
    color: #114B56;
}
.book, .join{
    background-color:#114B56;
    color: #EDE7E3;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    margin: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    color: #cbfd33;
}
.msg h2{
    color: #114B56;
}
.msg p{
    color: #114B56;
    padding-bottom: 15px;
}
footer{
    background-color: #489FB5;
    padding: 25px 50px;
    margin-top: 100px;
}
footer a{
    color: #EDE7E3;
    text-decoration: none;
}
footer a:hover{
    background-color: #114B56;
    color: #489FB5;
}
.icon {
    width: 80px;
    padding: 10px;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
.msg{
    background-color: #489FB5;
    line-height: 1.5em;
    padding: 35px;
}
.card-img{
    border: 10px solid#114B56;    
}
section .card-img{
    margin: 50px 50px;
}
h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;    
}
footer .social img{
    padding-top: 15px;
}
main section img{
    box-sizing: border-box;
}
.mountains{
    margin-bottom: 50px;
}