.loading-iCuAj {
    background: var(--white);
    background: var(--background-primary, var(--white));
    position: relative;
    width: 100%;
}


.loading-iCuAj .loader-Kso6C {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0;
        min-height: 100px;
    }


.loading-iCuAj .loader-Kso6C .outerLoader-Xn1Yh {
            border: 3px solid var(--footerGrey);
            border: 3px solid var(--border-primary, var(--footerGrey));
            border-block-start-color: var(--blue20);
            border-block-start-color: var(--accent, var(--blue20));
            border-radius: 50%;
            position: absolute;
            width: 4vw;
            height: 4vw;
            animation: spin-PAY97 1.5s linear infinite;
        }


@media (min-width: 0em) and (max-width: 37.499em) {


.loading-iCuAj .loader-Kso6C .outerLoader-Xn1Yh {
                width: 25vw;
                height: 25vw;
        }
            }


@keyframes spin-PAY97 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes innerSpin-ezWtA {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

/* TODO: I hate this theme system and our colors.
    We need to designers to pick better colors for each theme. */
/*******************************************************************************
 * These are default values for the global style variables we get from
 * header/footer. The values from header/footer should trump these, but we
 * should keep them up to date in case the vars file from header/footer fails.
 *******************************************************************************/
html {
    --grey2: #F7F8F8;
    --grey3: #EFF0F0;
    --grey5: #E0E2E2;
    --grey10: #D0D3D3;
    --grey15: #BDC0C0;
    --grey20: #A9ADAD;
    --grey25: #9DA1A1;
    --grey30: #878A8C;
    --grey35: #676B6E;
    --grey40: #53575B;
    --grey60: #3A3D40;
    --grey90: #0D0F10;
    --yellow5: #FFD61A;
    --yellow10: #FFB81C;
    --yellow15: #FAA61A;
    --yellow20: #F68D2E;
    --yellow25: #E66A1F;
    --yellow30: #D45311;
    --yellow35: #974A07;
    --yellow40: #674730;
    --red5: #FDA1B2;
    --red10: #FC7473;
    --red15: #E10F5A;
    --red20: #BD0057;
    --red25: #A6004E;
    --red30: #8F124A;
    --red35: #7D003F;
    --red40: #6E0D33;
    --blue5: #B0EEFC;
    --blue10: #7DE3F4;
    --blue15: #49CCE6;
    --blue20: #01B6D1;
    --blue25: #007DA5;
    --blue30: #006184;
    --blue35: #005175;
    --blue40: #003057;
    --green5: #D3E952;
    --green10: #BED21E;
    --green15: #93C742;
    --green20: #6DB344;
    --green25: #50A83E;
    --green30: #318D43;
    --green35: #206B3F;
    --green40: #235C35;
    --text120: #212225;
    --black: #000000;
    --white: #FFFFFF;
    --info10: #20ABD7;
    --info40: #157493;
    --info60: #105970;
    --confirmation10: #A3D287;
    --confirmation40: #74BB49;
    --confirmation60: #375A22;
    --warning10: #FFD072;
    --warning40: #FFAE0C;
    --warning60: #8F4200;
    --danger10: #FC7473;
    --danger40: #DC3838;
    --danger60: #B00504;
    --highlightBlue: #E9F7FC;
    --highlightCyan: #DDFAFB;
    --highlightGreen: #EFF7EA;
    --highlightYellow: #FFF8E9;
    --highlightAmber: #FFEFDE;
    --highlightRed: #FEE8E7;
    --highlightMagenta: #FEE8FC;
    --highlightViolet: #F3E9FF;
    --colorFacebook: #3B5998;
    --colorInstagram: #3C5A96;
    --colorTwitter: #00B6F1;
    --colorPinterest: #CB2027;
    --colorYoutube: #CD201F;
    --colorOdnok: #ED812B;
    --colorVk: #45668E;
    --boxShadowRaised: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
    --boxShadowDetached: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
    --boxShadowOverlaid: 0 8px 16px 0 rgba(0, 0, 0, 0.20);
    --boxShadowPoppedOut: 0 16px 32px 0 rgba(0, 0, 0, 0.20);
    --sans: "Ensign:Sans", Arial, "noto sans" , sans-serif;
    --serif: "Ensign:Serif", "Georgia", "Times New Roman", serif;
    --monospace: Courier, "Courier New", monospace;
    --fontWeightLight: 300;
    --fontWeightNormal: 400;
    --fontWeightSemiBold: 600;
    --fontWeightBold: 700;
    --fontSizeRoot: 100%;
    --fontSize11: 0.6875rem;
    --fontSize13: 0.8125rem;
    --fontSize14: 0.875rem;
    --fontSize16: 1rem;
    --fontSize18: 1.125rem;
    --fontSize20: 1.25rem;
    --fontSize28: 1.75rem;
    --fontSize32: 2rem;
    --fontSize42: 2.625rem;
    --lineHeightTight: 1.2;
    --lineHeight: 1.4;
    --lineHeightLoose: 1.6;
    --spacing4: 0.25rem;
    --spacing8: 0.5rem;
    --spacing16: 1rem;
    --spacing24: 1.5rem;
    --spacing32: 2rem;
    --spacing48: 3rem;
    --spacing64: 4rem;
    --spacing96: 6rem;
    --spacing128: 8rem;
    --breakWidth480: 480px;
    --breakWidth600: 600px;
    --breakWidth840: 840px;
    --breakWidth960: 960px;
    --breakWidth1280: 1280px;
    --breakWidth1440: 1440px;
    --breakWidth1600: 1600px;
    --zIndexHigherThanPlatform: 200;
}
.night {
    --accent: var(--yellow10);
    --accent-focus: var(--yellow15);
    --background-primary: var(--text120);
    --background-secondary: #242528;
    --background-secondary-accent: #323335;
    --background-disabled: #323335;
    --background-active-verse: #908801;
    --border-primary: #999A9B;
    --icon-primary: var(--text-primary);
    --icon-secondary: #999A9B;
    --icon-link: #6BA5AE;
    --scrollbar-thumb-primary: #A8AAAC;
    --scrollbar-thumb-secondary: #DEE1E1;
    --search-highlight: darkorange;
    --text-primary: #DEE1E1;
    --text-secondary: #A8AAAC;
    --text-link: #6BA5AE;

    /* Variables for tags: */
    --tag-accent: rgba(255, 184, 28, 0.15);
    --tag-hover-selected: rgba(255, 184, 28, 0.6);
    --tag-text-selected: var(--text120);

    /* Variables for buttons */
    --button-background-disabled: var(--grey40);
    --button-color-disabled: var(--text120);
    --button-primary-color: var(--text120);
    --button-secondary-color: rgba(255, 184, 28, 0.25);
    --button-ghost-background-active: var(--grey40);
    --button-ghost-background-hover: rgba(83, 87, 91, 0.6);
    --button-icon-background-active: var(--grey40);
    --button-icon-background-hover: rgba(83, 87, 91, 0.6);
    --button-icon-color-disabled: var(--grey30);
}
.sepia {
    --accent: #D35211;
    --accent-focus: #9B2000;
    --background-primary: #FBF4E6;
    --background-secondary: #FBF4E6;
    --background-secondary-accent: var(--white);
    --background-active-verse: #EAEA95;
    --border-primary: #6E4E33;
    --icon-primary: var(--text-primary);
    --icon-secondary: #8A8782;
    --icon-link: #61A6BB;
    --scrollbar-thumb-primary: #6E4E33;
    --scrollbar-thumb-secondary: #2F1C08;
    --text-primary: #2F1C08;
    --text-secondary: #6E4E33;
    --text-link: #6BA5AE;

    /* Variables for tags: */
    --tag-accent: rgba(211, 82, 17, 0.15);
    --tag-hover-selected: rgba(211, 82, 17, 0.6);
    --tag-text-selected: var(--white);

    /* Variables for buttons */
    --button-background-disabled: var(--grey3);
    --button-color-disabled: var(--grey30);
    --button-primary-color: var(--white);
    --button-secondary-color: rgba(211, 82, 17, 0.2);
    --button-ghost-background-active: #E1DBCF;
    --button-ghost-background-hover: rgba(225, 219, 207, 0.6);
    --button-icon-background-active: #E1DBCF;
    --button-icon-background-hover: rgba(225, 219, 207, 0.6);
    --button-icon-color-disabled: var(--grey20);
}
platform-footer {
    --footerThemeBackground: var(--background-primary);
    --footerThemeText: var(--text-primary);
    --footerThemeLogo: var(--text-primary);
    --footerThemeCopyright: var(--text-secondary);
}
:root {
    --input-slider-primary: #D0D3D3;
    --input-slider-secondary: #899090;

    --customGrey1: #E6E6E6;
    --customGrey2: #BBBBBB;
    --customGrey3: #A2AAAD;
    --customGrey4: #97999B;
    --customGrey5: #53565A;
    --footerGrey: #F1F1F3;

    --sans: "Ensign:Sans", Arial, "noto sans", sans-serif;
    --serif: "Ensign:Serif", "Georgia", "Times New Roman", serif;
    --monospace: "Courier New", Courier, monospace;

    --fontSize10: 0.625rem;
    --fontSize12: 0.75rem;
    --fontSize22: 1.375rem;
    --fontSize26: 1.625rem;
    --fontSize30: 1.875rem;
    --fontSize36: 2.25rem;
    --fontSize52: 3.25rem;

    --scrollbar: #929292;
    --scrollbar-hover: #707070;
    --scrollbar-background: #F8F8F8;
    --scrollbar-border: #E8E8E8;

    --spacing10: 0.625rem;
    --spacing12: 0.75rem;
    --spacing20: 1.25rem;
    --spacing40: 2.5rem;
    --spacing60: 3.75rem;

    @custom-media --mq-50-only (min-width: 0em) and (max-width: 24.999em);
    @custom-media --mq-reader (min-width: 80em);
    @custom-media --mq-mobile (min-width: 46em);

    @custom-media --xs-min (min-width: 320px);
    @custom-media --xs-max (max-width: 319px);
    @custom-media --xs-only (min-width: 320px) and (max-width: 499px);

    @custom-media --s-min (min-width: 500px);
    @custom-media --s-max (max-width: 499px);
    @custom-media --s-only (min-width: 500) and (max-width: 639.999);

    @custom-media --m-min (min-width: 640px);
    @custom-media --m-max (max-width: 639px);
    @custom-media --m-only (min-width: 640) and (max-width: 899.999);

    @custom-media --l-min (min-width: 900px);
    @custom-media --l-max (max-width: 899px);
    @custom-media --l-only (min-width: 900px) and (max-width: 1199px);

    @custom-media --xl-min (min-width: 1200px);
    @custom-media --xl-max (max-width: 1199px);
    @custom-media --xl-only (min-width: 1200px) and (max-width: 1499px);

    @custom-media --xxl-min (min-width: 1500px);
    @custom-media --xxl-max (max-width: 1499px);
}
body {
    padding: 0 !important;
}
body {
    font-size: 1.125rem;
    font-size: var(--fontSize18);
    font-family: "Ensign:Sans", Arial, "noto sans", sans-serif;
    font-family: var(--sans);
    line-height: 1.4;
    line-height: var(--lineHeight);
    background-color: #FFFFFF;
    background-color: var(--background-primary, var(--white));
}
.app-oo7_W {
    flex: 1 1;
    display: flex;
    flex-direction: column;
}
.app-oo7_W > main {
        display: flex;
        flex-direction: column;
    }
.panelOpen-bqPDf {
    transform: translateX(calc(0px * -1));
    transform: translateX(calc(var(--panel-offset, 0px) * -1));
}
[dir="rtl"] .panelOpen-bqPDf {
        transform: translateX(0px);
        transform: translateX(var(--panel-offset, 0px));
    }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* additional reset rules*/

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: normal normal var(--fontWeightNormal) var(--fontSize16)/var(--lineHeightLoose) var(--sans);
  font-weight: var(--fontWeightNormal);
}

body {
  font-weight: var(--fontWeightNormal);
  font-size: var(--fontSize18);
}

strong, b {
    font-weight: var(--fontWeightBold)
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

button, input, optgroup, select, textarea {
    font-size: 100%;
}

body {
    color: var(--black);
    color: var(--text-primary, var(--black));
}

a {
    color: var(--info40);
    color: var(--text-link, var(--info40));
    text-decoration: none;
}

a:hover {
        text-decoration: none;
        color: var(--blue20);
        color: var(--text-link, var(--blue20));
    }

h1, h2, h3, h4, h5, h6 {
    font-family: var(--sans);
    /*margin: 0 0 var(--spacing16);*/
}

h1 {
    font: normal normal var(--fontWeightLight) var(--fontSize52)/var(--lineHeightTight) var(--sans);
    font-weight: var(--fontWeightLight);
}

h2 {
    font-size: var(--fontSize28);
    line-height: 1.2;
    font-weight: var(--fontWeightLight);
}

h3, h4, h5, h6 {
    font-size: var(--fontSize18);
    font-weight: var(--fontWeightBold);
}

h3 {
    line-height: 1.278;
    letter-spacing: 0.00278em;
    /*text-transform: uppercase;*/
}

h4, h5, h6, {
    line-height: 1.222;
}

dt {
    font-size: var(--fontSize18);
    font-style: italic;
    font-weight: var(--fontWeightNormal);
    line-height: var(--lineHeightTight);
}

dd {
    margin: 0;
}

code {
    font-family: var(--monospace);
    white-space: pre-wrap;
}

.toaster-RYVLT[class] {
    bottom: var(--spacing16);
    left: 50%;
    right: auto;
    display: flex;
    position: fixed;
    align-items: center;
    transition: 250ms ease-in-out;
    transform: translate3d(-50%, calc(100% + var(--spacing16)), 0);
}

.toaster-RYVLT.show-SudTV[class], .toaster-RYVLT[class][focus-within] {
        transform: translate3d(-50%, 0, 0);
    }

.toaster-RYVLT.show-SudTV[class], .toaster-RYVLT[class]:focus-within {
        transform: translate3d(-50%, 0, 0);
    }

/* This isn't used but, I figured I'd leave it in here for the future. */

.toaster-RYVLT.right-L9jRq[class] {
    left: auto;
    right: var(--spacing16);
    transform: translate3d(0, calc(100% + var(--spacing16)), 0);

}

.toaster-RYVLT.right-L9jRq.show-SudTV[class], .toaster-RYVLT.right-L9jRq[class][focus-within] {
        transform: translate3d(0, 0, 0);
    }

.toaster-RYVLT.right-L9jRq.show-SudTV[class], .toaster-RYVLT.right-L9jRq[class]:focus-within {
        transform: translate3d(0, 0, 0);
    }
.alert-fJklh[class] {
    background-color: var(--white);
    background-color: var(--background-primary, var(--white));
    color: var(--black);
    color: var(--text-primary, var(--black));
}

.night .alert-fJklh[class] {
        border: 1px solid var(--border-primary);
}

.alert-fJklh[class] > div > div:not(:first-child) {
        background-color: var(--white);
        background-color: var(--background-primary, var(--white));
        border-color: var(--white);
        border-color: var(--background-primary, var(--white));
    }

.alert-fJklh[class] button {
        background-color: transparent;
        color: var(--black);
        color: var(--text-primary, var(--black));
    }

.alert-fJklh[class] button:hover {
            color: var(--grey30);
            color: var(--text-secondary, var(--grey30));
            background-color: var(--grey2);
            background-color: var(--background-secondary-accent, var(--grey2));
        }

.alert-fJklh[class] button[disabled] {
            filter: grayscale(70%);
        }

.alert-fJklh[class] button {

        @nest &[disabled], [disabled] &, {
            color: var(--grey10);
            color: var(--text-secondary, var(--grey10));

            &:hover {
                color: var(--grey10);
                color: var(--text-secondary, var(--grey10));
            }
        }
    }

.basic-ul3ED[class] > div > div:first-of-type {
        background-color: var(--blue20);
        background-color: var(--accent, var(--blue20));
    }

@media print {
    .alert-fJklh[class] {
        display: none;
    }
}

.login-qllBI {
    display: block;
    width: 100%;
    margin-block: var(--spacing8);
    text-align: center;
    font-family: var(--sans);
}
.login-qllBI a {
        margin-block-start: var(--spacing16);
    }
.login-qllBI a:last-of-type {
            margin-block-end: var(--spacing16);
        }
.login-qllBI p {
        margin-inline: var(--spacing8);
    }
.login-qllBI .signInHelpLink-UK6nF {
        display: block;
        color: var(--info40);
        color: var(--text-link, var(--info40));
        text-decoration: none;
    }
.login-qllBI .signInHelpLink-UK6nF:hover {
            text-decoration: none;
            color: var(--blue20);
            color: var(--text-link, var(--blue20));
        }
.login-qllBI .outOfService-sxJuP {
        color: var(--danger40);
    }

[dir="rtl"] .iconButton-NNPV2 svg {
    transform: scaleX(-1);
}

.ghost-z1ycr[class] {
    background: none;
    color: var(--blue30);
    color: var(--accent, var(--blue30));
}

.ghost-z1ycr[class]:hover {
        background-color: rgba(239, 240, 240, 0.6);
        background-color: var(--button-ghost-background-hover, rgba(239, 240, 240, 0.6));
        color: var(--blue30);
        color: var(--accent, var(--blue30));
    }

.ghost-z1ycr[class][class]:disabled {
        background: none;
        color: var(--grey25);
        color: var(--text-primary, var(--grey25));
        cursor: not-allowed;
        opacity: 0.38;
    }

.ghost-z1ycr[class][class]:disabled:hover {
            background: none;
            color: var(--grey25);
            color: var(--text-primary, var(--grey25));
            cursor: not-allowed;
            opacity: 0.38;
        }

.ghost-z1ycr[class]:active {
        background-color: var(--grey3);
        background-color: var(--button-ghost-background-active, var(--grey3));
        color: var(--blue30);
        color: var(--accent, var(--blue30));
    }

.icon-RXkDY[class] {
    color: var(--grey90);
    color: var(--icon-primary, var(--grey90));
}

.icon-RXkDY[class]:hover {
        background-color: rgba(239, 240, 240, 0.6);
        background-color: var(--button-icon-background-hover, rgba(239, 240, 240, 0.6));
        color: var(--grey90);
        color: var(--icon-primary, var(--grey90));
    }

.icon-RXkDY[class]:active {
        background-color: var(--grey3);
        background-color: var(--button-icon-background-active, var(--grey3));
    }

.icon-RXkDY[class]:disabled {
        background: transparent;
        color: var(--grey20);
        color: var(--button-icon-color-disabled, var(--grey20));
    }

.icon-RXkDY[class]:disabled:hover {
            background: transparent;
            color: var(--grey20);
            color: var(--button-icon-color-disabled, var(--grey20));
        }

/* TODO: need to extract from other areas... not all icon buttons have been extracted */

.primary-WjGqN[class] {
    background: linear-gradient(153.43deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 83.33%), var(--blue30);
    background: linear-gradient(153.43deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 83.33%), var(--accent, var(--blue30));
    color: var(--white);
    color: var(--button-primary-color, var(--white));
}

.primary-WjGqN[class]:hover {
        background: var(--info40);
        background: var(--accent, var(--info40));
    }

.primary-WjGqN[class]:active {
        background: linear-gradient(154.04deg, rgba(255, 255, 255, 0) 16.55%, rgba(255, 255, 255, 0.4) 100%), var(--blue30);
        background: linear-gradient(154.04deg, rgba(255, 255, 255, 0) 16.55%, rgba(255, 255, 255, 0.4) 100%), var(--accent, var(--blue30));
    }

.secondary-KsueD[class] {
    --button-background: var(--button-secondary-color, rgba(0, 97, 132, 0.2));
    border-color: var(--blue30);
    border-color: var(--accent, var(--blue30));
    color: var(--blue30);
    color: var(--accent, var(--blue30));
    background: linear-gradient(138.17deg, rgba(255, 255, 255, 0) 12.7%, var(--button-background) 106.8%);
}

.secondary-KsueD[class]:hover {
        background: transparent;
        color: var(--blue30);
        color: var(--accent, var(--blue30));
    }

.secondary-KsueD[class]:active {
        --button-background: var(--button-secondary-color, rgba(0, 97, 132, 0.2));
        background: linear-gradient(138.53deg, var(--button-background) -6.58%, rgba(255, 255, 255, 0) 87.32%);
        color: var(--blue30);
        color: var(--accent, var(--blue30));
    }

.ghost-z1ycr[class]:disabled, .primary-WjGqN[class]:disabled, .secondary-KsueD[class]:disabled {
        background: var(--grey3);
        background: var(--button-background-disabled, var(--grey3));
        color: var(--grey30);
        color: var(--button-color-disabled, var(--grey30));
    }

.ghost-z1ycr[class]:disabled:hover, .primary-WjGqN[class]:disabled:hover, .secondary-KsueD[class]:disabled:hover {
            background: var(--grey3);
            background: var(--button-background-disabled, var(--grey3));
            color: var(--grey30);
            color: var(--button-color-disabled, var(--grey30));
        }

.text-xr7T4[class] {
    color: var(--black);
    color: var(--text-primary, var(--black));
}

.lowServiceBanner-cmFJR {
    position: fixed;
    z-index: var(--zIndexHigherThanPlatform);
    inset-block-end: 0;
}

.banner-o5VpE[class] {
    background-color: var(--grey2);
    background-color: var(--background-primary, var(--grey2));
}

.night .banner-o5VpE[class] {
        border-block-start: 1px solid var(--border-primary);
}

.banner-o5VpE[class] div {
        color: var(--black);
        color: var(--text-primary, var(--black));
    }

.banner-o5VpE[class] > button {
        /* styles for the close button from theming/components/eden-buttons/eden-buttons.css */
        /* css modules supports composing, but not when deeply nested like this and we don't have a class to latch onto */
        color: var(--grey90);
        color: var(--icon-primary, var(--grey90));
    }

.banner-o5VpE[class] > button:hover {
            background-color: rgba(239, 240, 240, 0.6);
            background-color: var(--button-icon-background-hover, rgba(239, 240, 240, 0.6));
            color: var(--grey90);
            color: var(--icon-primary, var(--grey90));
        }

.banner-o5VpE[class] > button:active {
            background-color: var(--grey3);
            background-color: var(--button-icon-background-active, var(--grey3));
        }

.banner-o5VpE[class] > button:disabled {
            background: transparent;
            color: var(--grey20);
            color: var(--button-icon-color-disabled, var(--grey20));
        }

.banner-o5VpE[class] > button:disabled:hover {
                background: transparent;
                color: var(--grey20);
                color: var(--button-icon-color-disabled, var(--grey20));
            }

.basic-TWZ29[class] {
    border-block-end-color: var(--blue20);
    border-block-end-color: var(--accent, var(--blue20));
}

.basic-TWZ29[class] > div path {
        fill: var(--blue20);
        fill: var(--accent, var(--blue20));
    }

@media print {
    .banner-o5VpE[class] {
        display: none;
    }
}

.hideFeedbackButton-oWvCg {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}


/*# sourceMappingURL=app.4292634cfe77c510b7e9.css.map*/