.wrapper-GGVC7 {
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
    z-index: 1;
}

.player-fr7If {
    background: var(--white);
    background: var(--background-primary, var(--white));
    color: var(--black);
    color: var(--text-primary, var(--black));
    padding: var(--spacing10) var(--spacing16);
    pointer-events: all;
}

.button-DWtvB[class] {
    align-self: center;
    margin-block-end: var(--spacing40);
    margin-inline-end: var(--spacing40);
    padding: 0;
    box-shadow: var(--boxShadowDetached);
    transform: translateY(0);
    transition: transform .4s .5s cubic-bezier(.4,0,.2,1), background-color .3s;
    color: var(--white);
    color: var(--background-primary, var(--white));
    background-color: var(--blue25);
    background-color: var(--accent, var(--blue25));
    pointer-events: all;
}

.button-DWtvB[class]:hover {
        background-color: var(--blue30);
        background-color: var(--accent-focus, var(--blue30));
        color: var(--white);
        color: var(--background-primary, var(--white));
    }

.button-DWtvB.hide-uv_dt[class] {
        transform: translateY(100px);
    }

.button-DWtvB[class]:active {
        outline: none;
    }

.button-DWtvB[class]:focus {
        outline-offset: 2px;
    }

@media (min-width: 80em) {
        .button-DWtvB.hide-uv_dt[class] {
            transform: translateY(0);
        }
    }

.menu-PqRHa {
    position: fixed;
    inset-block-end: 90px;
}

.moreMenu-oIucu {
    padding: var(--spacing10);
    min-width: 128px;
}

@media print {
    .wrapper-GGVC7{
        display: none;
    }
}

/* These styles adjust the eden-audio-player css manualy */

/* Audio Slider */

.player-fr7If > :nth-child(3) div div:nth-child(1) {
            background-color: var(--input-slider-primary);
        }

.player-fr7If > :nth-child(3) div div:nth-child(2) {
            background-color: var(--input-slider-secondary);
        }

.player-fr7If > :nth-child(3) div div:nth-child(3) {
            background-color: var(--info40);
            background-color: var(--accent, var(--info40));
        }

.player-fr7If > :nth-child(3) div input::-webkit-slider-thumb {
                background: var(--info40);
                background: var(--accent, var(--info40));
            }

.player-fr7If > :nth-child(3) div input::-moz-range-thumb {
                background: var(--info40);
                background: var(--accent, var(--info40));
            }

.player-fr7If > :nth-child(3) div input::-ms-thumb {
                background: var(--info40);
                background: var(--accent, var(--info40));
            }

/* Audio Control Button Selected and Hover */

.player-fr7If button[aria-expanded="true"] {
        background-color: var(--grey2);
        background-color: var(--background-secondary-accent, var(--grey2));
    }

.player-fr7If button[type="button"]:hover {
        background-color: var(--grey2);
        background-color: var(--background-secondary-accent, var(--grey2));
    }

/* Audio Control Menus */

.player-fr7If button[type="button"] + div[class] {
        color: var(--black);
        color: var(--text-primary, var(--black));
        background-color: var(--white);
        background-color: var(--background-primary, var(--white));
        border-color: var(--grey10);
        border-color: var(--border-primary, var(--grey10));

        /* Download Menu Items */
    }

.player-fr7If button[type="button"] + div[class] a {
            background-color: var(--white);
            background-color: var(--background-primary, var(--white));
        }

.player-fr7If button[type="button"] + div[class] a div {
                color: var(--black);
                color: var(--text-primary, var(--black));
            }

.player-fr7If button[type="button"] + div[class] a path {
                color: var(--black);
                color: var(--text-primary, var(--black));
            }

/* Selected Buttons */

.player-fr7If button[type="button"] + div[class] button {
            color: var(--black);
            color: var(--text-primary, var(--black));
        }

.player-fr7If button[type="button"] + div[class] button[aria-pressed="true"] {
                background-color: var(--info40);
                background-color: var(--accent, var(--info40));
                border-color: var(--info40);
                border-color: var(--accent, var(--info40));
                color: var(--white);
                color: var(--background-primary, var(--white));
            }

/* Volume Control Slider */

.player-fr7If button[type="button"] + div[class] div input::-webkit-slider-thumb {
                    background: var(--info40);
                    background: var(--accent, var(--info40));
                }

.player-fr7If button[type="button"] + div[class] div input::-moz-range-thumb {
                    background: var(--info40);
                    background: var(--accent, var(--info40));
                }

.player-fr7If button[type="button"] + div[class] div input::-ms-thumb {
                    background: var(--info40);
                    background: var(--accent, var(--info40));
                }

.player-fr7If button[type="button"] + div[class] div div::before {
                background-color: var(--input-slider-primary);
            }

.player-fr7If button[type="button"] + div[class] div div::after {
                background-color: var(--info40);
                background-color: var(--accent, var(--info40));
            }

/* Menu Pop Up Arrow */

.player-fr7If button[type="button"] + div[class] div::after {
            border-block-start-color: var(--white);
            border-block-start-color: var(--background-primary, var(--white));
        }

.player-fr7If button[type="button"] + div[class] div::before {
            border-block-start-color: var(--grey10);
            border-block-start-color: var(--border-primary, var(--grey10));
        }


/*# sourceMappingURL=audio-player.06e717d1ed3d0d26400b.css.map*/